<a href="https://colab.research.google.com/github/VitalZH/-9-_-3/blob/main/2seq_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
5. (МОДУЛЬ 2) создать модуль 2seq.py. Задание:
Пользователь вводит любые цифры через запятую
Сохранить цифры в список
Получить новый список в котором будут только уникальные элементы исходного (уникальным считается символ, который встречается в исходном списке только 1 раз)
Вывести новый список на экран
Порядок цифр в новом списке не важен
Пример работы: Введите элементы списка через запятую: 2,3,4,5,5,6,5,3,9
Результат: 2, 4, 6, 9

(Дополнительно*) Предусмотреть что пользователь может использовать один из 3-х разделителей:
 запятую, точку с запятой, слэш (1,2,3 1;2;3 1/2/3), но только какой то один 1,2;3/4 - так нельзя
'''

new_list = input('enter a list values:')
print('str', new_list)
print(type(new_list))
new_list = new_list.replace(';', ' ').replace('/', ' ').replace(',', ' ').split()
print('replace and split list', new_list)
print(type(new_list))
new_list = set(new_list)
print('set', new_list)
print(type(new_list))

enter a list values:1,,,,3//5  6;; / 7,7/6,5,/4rr
str 1,,,,3//5  6;; / 7,7/6,5,/4rr
<class 'str'>
replace and split list ['1', '3', '5', '6', '7', '7', '6', '5', '4rr']
<class 'list'>
set {'7', '4rr', '5', '6', '3', '1'}
<class 'set'>